section.section.brands-page 
	.container
		-for(x=1; x<6; x++)
			.brand 
				.brand__header
					.f-24.fw-700 Vali
					a(href="").seemore Xem Tất cả
				.brand__body
					.row 
						-for(i=0; i<4; i++)
							.col-lg-3.col-md-6.col-6
								.product-item 
									.option.red
										.inner mới
									.option.red
										.inner hot
									.option.red
										.inner 
											img(src="./img/icons/free-ship.png", alt="")
									.option.red
										.inner 
											img(src="./img/icons/option-1.png", alt="")
									.option.red
										.inner 
											img(src="./img/icons/option-2.png", alt="")
									.option.black
										.inner -15%
									.pro-img
										a(href="san-pham-chi-tiet.html")
											img.lazyload(data-src="./img/san-pham/i-"+i+".png", alt="")
									ul 
										li
											a(href="") 
												img.lazyload(data-src="./img/km-ct/22.png", alt="") 
										li.active
											a(href="") 
												img.lazyload(data-src="./img/km-ct/23.png", alt="")
									.pro-infor
										.pro-title 
											a(href="san-pham-chi-tiet.html") Cặp Doanh Nhân Legend 04
										.pro-price.d-flex
											.price
												.priceold 2.500.000 VND
												.pricesale 1.990.000 VND
											.order 
												a(href="").btn.btn-order Mua ngay
