.brand
	padding-bottom: r(70px)
	.brand__header
		display: flex
		justify-content: space-between
		padding-bottom: r(15px)
		border-bottom: 1px solid $gray
		margin-bottom: r(30px)
		.seemore
			display: inline-flex
			align-items: center
			position: relative
			padding-right: 20px
			color: $main
			font-weight: 700
			&::before
				content: "chevron_right"
				font-family: "Material Icons"
				position: absolute
				right: 0
				top: 50%
				transform: translateY(-50%)
				color: $main
			&:hover
				text-decoration: underline
	.brand__body
		@media screen and ( max-width: 991.9px )
			[class*='col-']
				margin-bottom: r(30px)
		.brand-item 
			position: relative
			.big-img
				padding-top: 25px
			.img
				+img-ratio(180/215, contain)
			.sm-box
				display: flex
				justify-content: center
				padding-top: r(50px)
				.sm-img
					width: 40px
					height: 40px
					border: 1px solid #eaeaea
					background-color: #f8f8f8
					+dc
					cursor: pointer
					&:not(:last-child)
						margin-right: 10px
					&.active
						border: 1px solid #ff0000
			.title
				text-align: center
				margin: r(20px) 0
				transition: .3s all ease-in-out
				&:hover
					color: $main
			.wrap-price
				display: flex
				justify-content: space-between
				align-items: center
				@media screen and ( max-width: 1279.9px )
					display: block
					text-align: center
				.price
					.priceold
						text-decoration: line-through
						color: $gray
						text-transform: uppercase
						@media screen and ( max-width: 767.9px )
							font-size: r(14px)
					.pricesale
						font-size: r(18px)
						font-weight: 800
						@media screen and ( max-width: 767.9px )
							font-size: 1rem
				.order
					.btn
						padding: r(10px) r(15px)
						+dc
						text-transform: uppercase
						font-size: 12px
						letter-spacing: 1.2px
						border: 1px solid $text
						border-radius: 5px
						background: $white
						max-width: 110px
						transition: .3s all ease-in-out
						@media screen and ( max-width: 1279.9px )
							margin-top: r(20px)
							margin-left: auto
							margin-right: auto
						&:hover
							border: 1px solid $main
							color: $white
							background: $main
