section.section.detail-1 
	.container 
		.row 
			.col-lg-7
				.wrap-slide-detail 
					.swiper-container.gallery-thumbs
						.swiper-wrapper
							-for(i=1; i<6; i++)
								.swiper-slide
									.swiper-inner
										.img
											a(href="")
												img.lazyload(data-src="./img/san-pham/i-1.png", alt="")
					.swiper-container.gallery-top
						.swiper-wrapper
							-for(x=1; x<6; x++)
								.swiper-slide
									.swiper-inner
										.option.red
											.inner -30%
										.img
											a(href="")
												img.lazyload(data-src="./img/san-pham/i-1.png", alt="")
						.swiper-button-next 
						.swiper-button-prev 
			.col-lg-5 
				.pro-infor-wrap 
					.block-name
						h1.title Balo laptop Stargo Heben
						.core-pro Mã: GBV003DNNG00
						.pro-price.d-flex
							.old-price 2.500.000 VND
							.net-price 1.990.000 VND
						.desc Heben là bộ sưu tập Balo thời trang văn phòng kiêm du lịch cho những bạn trẻ năng động thuộc nhãn hàng STARGO.
					.block-filter 
						table 
							tr 
								td Màu sắc
								td 
									a(href="") 
										.img
											img.lazyload(data-src="./img/san-pham/opt-1.png", alt="")
									a(href="") 
										.img
											img.lazyload(data-src="./img/san-pham/opt-2.png", alt="")
									a(href="") 
										.img
											img.lazyload(data-src="./img/san-pham/opt-3.png", alt="")
							tr 
								td Kích thước
								td 
									a.btn.btn-filter(href="") 14 inch
									a.btn.btn-filter(href="") 15 inch
							tr 
								td Tính năng 
								td Văn phòng
					.block-card 
						.item-quantity
							.input-group
								.input-group-btn
									.qty-minus.btn-number
										em.material-icons remove
								input.product-details-quantity.input-number(type='text' value='1')
								.input-group-btn
									.qty-plus.btn-number
										em.material-icons add
							.pro-price 
								.old-price 2.500.000 VND
								.net-price 1.990.000 VND
						.add-shopping-cart
							a.add-card(href="")
								em.material-icons shopping_cart
								|Thêm vào giỏ hàng
					.block-share 
						.text Chia sẻ
						a(href="") 
							img(src="./img/icons/face-2.png", alt="")
						a(href="") 
							img(src="./img/icons/zalo-2.png", alt="")
section.section.detail-2 
	.container
		.hero-list.d-flex
			.item.d-flex 
				.img 
					img(src="./img/icons/chatlieu.png", alt="")
				.text Chất liệu trượt nước
			.item.d-flex 
				.img 
					img(src="./img/icons/eva.png", alt="")
				.text Chất liệu trượt nước
			.item.d-flex 
				.img 
					img(src="./img/icons/chongsoc.png", alt="")
				.text Chất liệu trượt nước
			.item.d-flex 
				.img 
					img(src="./img/icons/chonghan.png", alt="")
				.text Chất liệu trượt nước
section.section.detail-3 
	.container 
		.row
			.col-lg-5 
				.hero-infor 
					h2.title Thông số kỹ thuật 
					table 
						tr 
							td Màu sắc
							td Đen, Đỏ, xanh navy
						tr 
							td Chất liệu
							td Polyester, PE, PU
						tr
							td Trọng lượng
							td 0.7 kg
						tr
							td kích thước
							td 27x12x41.5 cm
						tr
							td Tải trọng tối đa
							td 10 kg
						tr
							td Thời hạn bảo hành
							td 1 năm
			.col-lg-7
				.hero-img 
					.img 
						a(href="") 
							img.lazyload(data-src="./img/san-pham/thongtinsp.png", alt="")
							.icon 
								img(src="./img/icons/video.png", alt="")
section.section.detail-4 
	.container 
		.section-title.text-center 
			h2 Chi tiết sản phẩm 
		.hero-list
			.row 
				.col-lg-7 
					.wrap-img
						.img
							img.lazyload(data-src="./img/san-pham/detail-1.png", alt="")
				.col-lg-5
					.wrapper-content 
						h3.title Thiết kế trẻ trung, chất liệu trượt nước
						.content 
							p Balo thời trang Stargo HEBEN được thiết kế đơn giản chạm đến sự tinh tế. Sự kết hợp thông minh giữa những tông màu đậm-nhạt tạo điểm nhấn độc đáo cho dòng sản phẩm này. Nếu cục diện Heben có phần trầm, nhẹ nhàng với gam màu trung tính thì phần đáy được tô điểm bằng gam màu sáng nổi bật, viền dây đeo mạnh mẽ tông đen tạo nên một tổng thể hài hòa, trầm-bỗng theo từng chi tiết.

							p Công nghệ may gấp mép viền kết hợp ngăn kéo tạo độ phồng cho mặt chính diện tạo cảm giác như một chiếc áo giáp bảo vệ toàn bộ Heben.

							p Bộ sưu tập Balo HEBEN có cấu tạo từ Polyester với tính năng trược nước vượt trội giúp bạn tự tin nếu chẳng may tiếp xúc với những cơn mưa phùn hay bị nước dính vào. Đồ dùng bên trong luôn được bảo vệ một cách toàn diện nhờ vải lót 3 tính năng: chống thấm, hút ẩm và kháng khuẩn. Vải trượt nước kết hợp vải lót an toàn giúp bảo vệ gấp hai lần, an toàn tuyệt đối trong mọi chuyến đi.
		.hero-list
			.row 
				.col-lg-7 
					.wrap-img
						.img
							img.lazyload(data-src="./img/san-pham/detail-2.png", alt="")
				.col-lg-5
					.wrapper-content 
						h3.title Phân ngăn khoa học, tiện lợi sử dụng
						.content 
							p HEBEN được biết đến là dòng balo thời trang kiêm laptop, đa tính năng trong quá trình sử dụng. 1 ngăn chính 1 ngăn phụ mặt trước và 2 ngăn thứ cấp bên hông là cấu trúc bộ sưu tập balo này hướng đến. Ngăn chính có thể tích lớn, sức chứa tương đối tích hợp ngăn đựng laptop với vách ngăn êm ái từ đệm mút EVA, chống sốc hiệu quả. Ngăn phụ mặt trước bảo vệ bởi khóa kéo zip nhựa, êm mượt khi sử dụng thích hợp mang theo tài liệu, sách báo hoặc những vật dụng mỏng-nhỏ. Hai ngăn phụ thứ cấp bên hông dễ dàng trích-xuất đồ dùng nhanh chóng.
		.hero-list
			.row 
				.col-lg-7 
					.wrap-img
						.img
							img.lazyload(data-src="./img/san-pham/detail-3.png", alt="")
				.col-lg-5
					.wrapper-content 
						h3.title Đột phá đến thiết bị thông minh
						.content 
							p Một trong những điểm thông minh chinh phục người dùng và bắt kịp thời đại của Stargo Heben là tích hợp cổng sạc USB vô cùng tiện lợi.

							p Nếu bạn là người không có thói quen dùng điện thoại như nghe gọi khi đang đi trên đường, thì lúc này chỉ cần cắm sạc dự phòng bỏ vào balo là xong. Tuy nhiên, nếu bạn có nhu cầu sử dụng thường xuyên như thông tin công việc hay tìm đường trên bản đồ thì cắm sạc bên ngoài quả là rắc rối to vì rất vướng víu. Đó chính là lí do Heben tích hợp tính năng cổng sạc USB, mang đến cảm giác thoải mái và an tâm cho bạn sử dụng trong suốt hành trình của mình. Bạn chỉ cần cắm sạc dự phòng của mình vào đầu dây nối bên trong balo, khóa dây kéo lại và dùng dây sạc cắm vào đầu USB bên ngoài balo là đã có thể sử dụng một cách tiện lợi và gọn gàng.
		.hero-list
			.row 
				.col-lg-7 
					.wrap-img
						.img
							img.lazyload(data-src="./img/san-pham/detail-4.png", alt="")
				.col-lg-5
					.wrapper-content 
						h3.title Bảo vệ sức khỏe người dùng

						.content 
							p Mặt lưng Heben nằm gọn trên lưng, chống trơn trượt chỉ bằng 3 đường may đơn giản chia mặt phẳng thành 3 khu vực, tăng độ ma sát khi tiếp xúc với lưng người dùng.

							p Quai đeo to bản, được trang bị đệm mút bên trong êm ái, chống hằn dù đeo balo trong thời gian dài. Bạn có thể dễ dàng điều chỉnh kích thước dây đeo phù hợp với chiều cao và vóc dáng của mình.

							p Quai xách cũng được chăm chút bởi 2 lớp bảo vệ và đệm 3D tạo cảm giác êm tay khi xách balo. Quai xách rất tiện lợi trong việc treo balo lên giá đỡ.

							p Đa năng sử dụng – tính năng vượt trội – Công nghệ hiện đại là những gì bạn sẽ tìm thấy chỉ trong chiếc balo thời trang kiêm laptop Stargo Heben. Một hành trình thú vị và an toàn không thể thiếu balo Heben.


