section.section.product-list 
	.container 
		.row 
			.col-lg-3 
				.side-navigation-wrapper
					.section-title 
						h1 SẢN PHẨM
						.btn-dropdown
							em.material-icons expand_more
					ul.side-navigation
						-for(i=1; i<7; i++)
							li
								.accordion-title
									a(href='') Balo
									em.ri-arrow-down-s-line
								ul.nav-sub
									li
										a(href='') Balo văn phòng
									li
										a(href='') Balo laptop 
									li 
										a(href="") Balo du lịch
									li 
										a(href="") Balo đi học
									li 
										a(href="") Balo trẻ em
				.side-filter 
					.section-title BỘ LỌC
					.filter-wrap 
						.filter-title Thương hiệu 
							.btn-dropdown
								em.material-icons expand_more
						.filter-option
							ul 
								li
									a.btn.btn-filter(href="") Sakos 
								li
									a.btn.btn-filter(href="") Stargo 
					.filter-wrap 
						.filter-title Kích thước 
							.btn-dropdown
								em.material-icons expand_more
						.filter-option 
							ul 
								li
									a.btn.btn-filter(href="") 14 inch 
								li
									a.btn.btn-filter(href="") 15 inch 
								li
									a.btn.btn-filter(href="") 17 inch 
					.filter-wrap 
						.filter-title Màu sắc
							.btn-dropdown
								em.material-icons expand_more
						.filter-option 
							ul 
								li.active
									a.btn.btn-filter(href="")
								li
									a.btn.btn-filter(href="")
								li
									a.btn.btn-filter(href="")
								li
									a.btn.btn-filter(href="")
								li
									a.btn.btn-filter(href="")
								li
									a.btn.btn-filter(href="")
								li
									a.btn.btn-filter(href="")
					.filter-wrap 
						.filter-title Tính năng
							.btn-dropdown
								em.material-icons expand_more
						.filter-option 
							ul 
								li.active
									a.btn.btn-filter(href="") Doanh nhân
								li
									a.btn.btn-filter(href="") Du lịch
								li
									a.btn.btn-filter(href="") Học sinh
								li
									a.btn.btn-filter(href="") Thời trang
								li
									a.btn.btn-filter(href="") Trẻ em
								li
									a.btn.btn-filter(href="") Văn phòng
					.filter-wrap 
						.filter-title Khoảng giá
							.btn-dropdown
								em.material-icons expand_more
						.filter-option 
							#slider
							.filter-label
								label(for='amount') 0
								label(for='amount') 15.000.000 VND
							input#amount.hidden(type='text', readonly='' value="")
			.col-lg-9 
				.hero-product.ajaxresponse 
					.block_name_category.d-flex
						.name_category
							h2 Balo
						.wrap-left.d-flex
							.option-wrap.d-flex 
								p Hiển thị:
								select.ajaxsort
									option(value="" selected) 12
									option(value="") 24
									option(value="") 48
									option(value="") 64
									option(value="") 100
							.sort-wrap.d-flex 
								p Sắp xếp: 
								select.ajaxsort
									option(value="" selected) Mới nhất
									option(value="") Giá: Thấp - Cao
									option(value="") Giá: Cao - Thấp
					.row.ajaxresponsewrap
						-for(i=1; i<13; i++)
							.col-lg-4.col-md-6.col-sm-6 
								.product-item 
									.option.red
										.inner mới
									.option.red
										.inner hot
									.option.red
										.inner 
											img(src="./img/icons/free-ship.png", alt="")
									.option.red
										.inner 
											img(src="./img/icons/option-1.png", alt="")
									.option.red
										.inner 
											img(src="./img/icons/option-2.png", alt="")
									.option.black
										.inner -15%
									.pro-img
										a(href="san-pham-chi-tiet.html")
											img.lazyload(data-src="./img/san-pham/i-"+i+".png", alt="")
									ul 
										li
											a(href="") 
												img.lazyload(data-src="./img/km-ct/22.png", alt="") 
										li.active
											a(href="") 
												img.lazyload(data-src="./img/km-ct/23.png", alt="")
									.pro-infor
										.pro-title 
											a(href="san-pham-chi-tiet.html") Cặp Doanh Nhân Legend 04
										.pro-price.d-flex
											.price
												.priceold 2.500.000 VND
												.pricesale 1.990.000 VND
											.order 
												a(href="javascript: ;").btn.btn-order Mua ngay
