section.section.about-5#about-5 
	.container 
		.section-title.text-center Tuyển dụng
		.hero-table 
			table
				thead
					tr
						th #
						th Date
						th Description
						th Credit
						th Debit
						th Balance
				tbody
					tr#toggle
						td 1
						td 05 May 2013
						td Credit Account
						td.text-success $150.00
						td.text-error
						td.text-success $150.00
					tr#hiddenRow
						td(colspan='6') 
							.demo Demo Content1
