section.section.about-5#about-5 
	.container 
		.section-title.text-center Tuyển dụng
		.hero-table 
			table
				thead
					tr
						th(colspan='2') vị trí tuyển dụng
						th phòng ban
						th nơi làm việc
						th hạn nộp hồ sơ
				tbody
					tr.toggle
						td(colspan='2') 
							.title
								em.material-icons expand_more
								span Nhân viên kinh doanh
						td Marketing
						td Thành phố Hô Chí Minh
						td 01.03.2021
					tr#hiddenRow
						td(colspan='6') 
							.wrap-content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					tr.toggle
						td(colspan='2') 
							.title
								em.material-icons expand_more
								span Nhân viên kinh doanh
						td Marketing
						td Thành phố Hô Chí Minh
						td 01.03.2021
					tr#hiddenRow
						td(colspan='6') 
							.wrap-content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					tr.toggle
						td(colspan='2') 
							.title
								em.material-icons expand_more
								span Nhân viên kinh doanh
						td Marketing
						td Thành phố Hô Chí Minh
						td 01.03.2021
					tr#hiddenRow
						td(colspan='6') 
							.wrap-content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					tr.toggle
						td(colspan='2') 
							.title
								em.material-icons expand_more
								span Nhân viên kinh doanh
						td Marketing
						td Thành phố Hô Chí Minh
						td 01.03.2021
					tr#hiddenRow
						td(colspan='6') 
							.wrap-content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					tr.toggle
						td(colspan='2') 
							.title
								em.material-icons expand_more
								span Nhân viên kinh doanh
						td Marketing
						td Thành phố Hô Chí Minh
						td 01.03.2021
					tr#hiddenRow
						td(colspan='6') 
							.wrap-content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		.hero-list
			.row 
				-for(i=1; i<7; i++)
					.col-sm-6.col-md-6.col-lg-6
						.item
							.title Nhân viên kinh doanh
							p 
								em.mdi.mdi-account-group
								span Số lượng: 01
							p
								em.mdi.mdi-clock-start
								span Ngày bắt đầu: 05/05/2020
							p
								em.mdi.mdi-clock-end
								span Ngày hết hạn: 31/06/2020
							a(href="").btn-apply 
								span Ứng Tuyển
							a(href="javascript: ;").btn-view 
								span Xem chi tiết
							.wrap-content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
