.popup-card 
	.popup-header
		.title.fw-900.text-uppercase.f-16 Đặt hàng nhanh
	.popup-body
		.product-wrap 
			.product-content
				.img 
					a(href="") 
						img.lazyload(data-src="./img/home/specail-4.png", alt="")
				.content 
					.title 
						a(href="") Vali Neo Envy
					.price-wrap 
						.old-price 2.800.00 VND
						.net-price 2.700.000 VND
					.input-group
						.input-group-btn
							.qty-minus.btn-number
								em.material-icons remove
						input.product-details-quantity.input-number(type='text' value='1')
						.input-group-btn
							.qty-plus.btn-number
								em.material-icons add
		.product-infor 
			.filter-wrap 
				.title Màu sắc
				ul.color 
					li.active 
						a(href="") 
							img.lazyload(data-src="./img/km-ct/22.png", alt="")
					li 
						a(href="") 
							img.lazyload(data-src="./img/km-ct/23.png", alt="")
					li 
						a(href="") 
							img.lazyload(data-src="./img/km-ct/22.png", alt="")
			.filter-wrap 
				.title Kích thước laptop
				ul.size 
					li.active 
						a(href="") 14 inch
					li 
						a(href="") 15 inch
					li 
						a(href="") 17 inch
	.popup-footer 
		a.btn.btn-continue(href="") Tiếp tục mua hàng
		a.btn.btn-booling(href="") Tiến hành đặt hàng

