<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<div class="completed-wrapper">
		<div class="title">
			<img src="/Data/Sites/1/media/checkout/check.png" alt="Check" />
			<div class="text">đặt hàng thành công</div>
		</div>
		<div class="row">
			<div class="col-lg-5">
				<div class="img"><img alt="Hoàn tất" src="/Data/Sites/1/media/checkout/complete.png" />
				</div>
			</div>
			<div class="col-lg-7">
				<div class="article-content">
					<div class="content">
						<p>Mã Đơn hàng của bạn là: <span class="color-main">#{OrderCode}</span></p>
						<p>Hiện tại đơn hàng của bạn đang được xử lý.</p>
						<p>Thông tin chi tiết đơn hàng sẽ được gửi đến hộp thư của bạn: <br />
							<a class="email" href="#">
								{BillingEmail}</a></p>
					</div>
					<div class="content">
						<p>Mọi thắc mắc xin vui lòng liên hệ:</p>
						<p>Hotline: <span class="color-main">(028) 3825 8188</span></p>
						<p>Email: <a class="email" href="#">sale_online@sakosvn.com</a></p>
					</div>
					<div class="content">
						<p>Cảm ơn bạn đã đặt hàng. Đơn hàng của bạn sẽ được xử lý trong thời gian sớm nhất. Chúng
							tôi sẽ liên hệ lại với bạn để xác nhận yêu cầu và giao hàng.</p>
					</div>
				</div>
				<div class="cart-group-button button-group">
					<div class="btn btn-next btn-gradient">
						<a href="/">
							<span class="mr-1">Tiếp tục mua sắm</span>
							<em class="ri-arrow-right-line"></em>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
