section#about-1.section.about-1(setBackground='./img/about/about-1.png')
	.container 
		.section-title Sakos mang sản phẩm chất lượng Mỹ đến với khách hàng Việt Nam
		.wrap-content 
			.desc 
				p Với phương châm “đặt khách hàng làm mục tiêu”, tập thể nhân viên Sakos luôn tâm niệm mang đến những giá trị tốt nhất cho khách hàng. “Wherever you go – Cho dù bạn đi bất cứ nơi đâu” như một tuyên ngôn hùng hồn về chất lượng cũng như sự tiện ích của tất cả sản phẩm Sakos.
				p Xuất phát từ sự phát triển của ngành giao thông vận tải cũng như nhu cầu sử dụng các sản phẩm vận chuyển hành lý tăng cao, năm 1993 công ty TNHH Thanh Mỹ được thành lập, đặt nền móng cho lĩnh vực sản xuất sản phẩm hành lý. Sau 16 năm không ngừng nỗ lực – một mốc son mới đánh dấu sự phát triển vượt bậc khi công ty TNHH Thanh Mỹ ký quyết định hợp tác chiến lược với tập đoàn Sakostyle (Hoa Kỳ) theo hình thức ODM và chính thức đổi tên thành Công ty Cổ phần Sakos.

				p Sakos dẫn đầu trong lĩnh vực sản xuất và cung cấp sản phẩm hành lý cao cấp, nổi bật với các dòng vali doanh nhân, cặp doanh nhân, balo thông minh, túi du lịch, phụ kiện cho các chuyến đi… Nhu cầu của khách hàng luôn là trọng tâm hàng đầu để Sakos nghiên cứu và đưa ra quyết định cho những ý tưởng thiết kế. Mỗi sản phẩm của Sakos đều là kết tinh của đội ngũ kỹ sư giàu kinh nghiệm và đôi bàn tay khéo léo của những người thợ lành nghề đầy tâm huyết.
		.wrap-img 
			a(href="https://www.youtube.com/watch?v=TrAhuf4KYuc" data-fancybox="video") 
				img.lazyload(data-src="./img/about/a-1.png", alt="")
				.icon 
					img(src="./img/icons/video.png", alt="")

