section#about-2.section.about-2
	.container 
		.wrapper-history 
			.swiper-container
				.swiper-wrapper
					-for(i=1; i<7; i++)
						.swiper-slide
							.swiper-inner
								.item-box 
									.title 2010
									.wrap-content 
										.subtitle 2010
										.content 
											p Nay: Công ty CP Sakos không ngừng nỗ lực khẳng định tên tuổi ở thị trường Việt Nam nổi tiếng và Thế giới nói chung với mục tiêu trở thành một trong những thương hiệu hàng đầu Thế Giới.
			.swiper-button-next 
			.swiper-button-prev 
