.page-discount-detail
	time
		color: $gray
		font-size: 12px
		line-height: 1.7
	.section-title
		padding-bottom: 17px
		font-size: r(30px)
		text-align: left
		border-bottom: thin solid $main
		letter-spacing: normal
	.wrap-bottom
		display: flex
		padding: 10px 0
		align-items: center
		border-bottom: 1px solid $border
		@media screen and ( max-width: 580px )
			display: block
		.date,
		.social
			display: flex
			align-items: center
			.face
				padding-left: 10px
		.date
			position: relative
			&::before
				content: ""
				position: absolute
				height: 100%
				width: 1px
				background-color: $main
				top: 0
				right: -15px
		.social
			padding-left: r(30px)
			@media screen and ( max-width: 580px )
				padding-left: 0
				padding-top: 10px
			a
				&:not(:last-child)
					margin-right: 20px
	.fullcontent
		padding: r(30px) 0
		img
			margin-top: 30px

.discount-brand
	.brand
		border-bottom: 1px solid $border
		padding-top: 0
		padding-bottom: 0
		[class*='col']
			margin-bottom: r(30px)
		.brand__header
			border-bottom: 0
	.btn-view-all
		border-radius: 5px
		width: 200px
		margin: 0 auto
		margin-bottom: r(30px)

.discount-other
	&.section
		padding-top: r(15px)
	time
		color: $gray
		font-size: 12px
		line-height: 1.7
	.section-title
		border: none
	.swiper-discount-other
		position: relative
		.item
			.img
				a
					+img-ratio(225/390)
					img
						border-radius: 5px
			.content
				min-height: 140px
				display: flex
				flex-direction: column
				justify-content: space-between
				padding-top: r(20px)
				.title
					margin-bottom: 24px
					padding-right: r(60px)
					@media screen and ( max-width: 1023.9px )
						padding-right: r(40px)
					@media screen and ( max-width: 767.9px )
						padding-right: r(20px)
					a
						font-size: 18/16*1rem
						// font-weight: 700
						line-height: 24px
						transition: .3s all ease-in-out
						&:hover
							color: $main
				.item-view-more
					font-size: 14/16*1rem
					font-weight: 600
					text-transform: uppercase
					text-decoration: underline
					transition: .3s all ease-in-out
					&:hover
						color: $main

		.swiper-button-next,
		.swiper-button-prev
			top: 33%
