section.section.page-contact(setbackground="./img/bg-contact-2.png")
	.container 
		.wrapper-form
			.form.form-1
				.section-title Đại lý
				.wrap-form
					.form-row
						.form-group
							input(type="text" placeholder="Tên")
						.form-group
							input(type="text" placeholder="Email")
					.form-row
						.form-group
							input(type="text" placeholder="Điện thoại")
						.form-group
							input(type="text" placeholder="Tiêu đề")
					.form-group
						textarea(name="" cols="30" rows="10" placeholder="Nội dung")
					.form-group.frm-btnwrap
						.frm-btn
							input(type="submit" value="Gửi ")
			.form.form-2
				.section-title Quà tặng doanh nghiệp-Sản xuất theo yêu  cầu (B2B)
				.wrap-form
					.form-row
						.form-group
							input(type="text" placeholder="Tên")
						.form-group
							input(type="text" placeholder="Email")
					.form-row
						.form-group
							input(type="text" placeholder="Điện thoại")
						.form-group
							input(type="text" placeholder="Tiêu đề")
					.form-group
						textarea(name="" cols="30" rows="10" placeholder="Nội dung")
					.form-group.frm-btnwrap
						.frm-btn
							input(type="submit" value="Gửi ")