section.section.b2b-5 
	.container 
		.section-title.text-center Vì sao nên chọn sản phẩm quà tặng của Sakos?
		.wrap-box
			-for(i=1; i<5; i++)
				.item
					.img
						img.lazyload(data-src="./img/b2b/i-"+i+".png", alt="")
					.title Vật liệu
					.desc Tiếp nhận yêu cầu - Tư vấn quà tặng cho doanh nghiệp phù hợp với đối tượng khách hàng, mục tiêu và kinh phí