.page-news-list
	[class*='col-']
		margin-bottom: r(30px)
	time
		display: block
		color: $gray
		font-size: 12px
		margin-bottom: r(10px)
	.wrap-top
		display: flex
		.wrap-left
			ul
				display: flex
				padding: 0
				list-style: none
				white-space: nowrap
				overflow: auto
				&::-webkit-scrollbar
					height: 1px
				li:not(:last-child)
					margin-right: 15px
				li
					a
						position: relative
						&::before
							content: ""
							width: 0
							height: 1px
							background-color: $main
							position: absolute
							bottom: 0px
							left: 0
							transition: .3s all ease-in-out
					&.active, &:hover
						a
							color: $main
							transition: .3s all
							&::before
								width: 100%
		.wrap-right-main
			margin-left: auto
	.item
		.img
			+img-ratio(622/810)
			border-radius: 5px
		.wrap-content
			padding-top: r(30px)
			.item-view-more
				display: block
				width: max-content
				font-size: r(14px)
				font-weight: 600
				text-decoration: underline
				text-transform: uppercase
				transition: .3s all ease-in-out
				&:hover
					color: $main
			.title
				margin-bottom: r(15px)
				color: $main
				display: inline-block
			.brief-content
				+line(2)
				margin-bottom: r(15px)
		&.sm
			.img
				+img-ratio(225/390)
			.title
				color: $text
			.wrap-content
				padding-right: r(60px)
				@media screen and ( max-width: 767.9px )
					padding-right: 0
	.btn-view-all
		border-radius: 5px
		width: 200px
		margin: 0 auto
