
.overflow
	overflow: hidden
.container--tabs
	.nav-tabs
		display: flex
		list-style: none
		align-items: center
		> li
			display: flex
			align-items: center
			&.active
				> a
					color: $main
					cursor: default
	.tab-content
		width: 100%

		> .tab-pane
			display: none

			&.active
				display: block

		> .active
			display: block
.lcl
	overflow: hidden
	display: -webkit-box
	text-overflow: ellipsis
	-webkit-box-orient: vertical

	&-1
		-webkit-line-clamp: 1

	&-2
		-webkit-line-clamp: 2

	&-3
		-webkit-line-clamp: 3

	&-4
		-webkit-line-clamp: 4
.swiper-button-next,
.swiper-button-prev
	&::after
		font-family: Linearicons-Free !important
		font-size: 36px !important
		color: $white
	&:focus
		outline: none
.swiper-button-next
	&::after
		content: '\e876' !important
.swiper-button-prev
	&::after
		content: '\e875' !important
