
section.section.b2b-3 
	.container 
		.section-title.text-center Những lưu ý khi chọn balo, túi xách, vali làm quà tặng
		.wrap-box
			-for(i=0; i<5; i++)
				.item
					.title THiết kế
					.desc Mẫu mã sản phẩm phong phú với thiết kế hiện đại, tính năng vượt trội bắt kịp xu hướng là giá trị Sakos mang đến cho quý khách hàng.
