section.section.home-b2b
	.container 
		.row 
			.col-lg-6 
				.img 
					a(href="") 
						img.lazyload(data-src="./img/home/gif.png" alt="")
			.col-lg-6 
				.content 
					.subtitle.f-24.text-uppercase b2b
					.section-title Quà tặng doanh nghiệp - Nâng tầm thương hiệu
					.desc.lcl.lcl-3.f-16 Sakos áp dụng chương trình Tích điểm thẻ thành viên và phát hành thẻ SAKOS MEMBER CARD với nhiều ưu đãi hấp dẫn. Chương trình đang áp dụng tại các cửa hàng Sakos trên toàn quốc.
					.wrap-button.d-flex
						a.btn.btn-download(href="") 
							span.lnr.lnr-download
							| catalogue
						a.btn.btn-view-more(href="") xem thêm

