extends _layout.pug

block var
	- var title = 'B2B'
	- var bodyClass = 'b2b-page'

block main
	include ../components/banner/pagebanner.pug
	//- include ../components/_global/breabcrumb/breadcrumb.pug
	include ../components/b2b/b-1/index.pug
	include ../components/b2b/b-2/index.pug
	include ../components/b2b/b-3/index.pug
	include ../components/b2b/b-4/index.pug
	include ../components/b2b/b-5/index.pug
	include ../components/b2b/b-6/index.pug
	include ../components/b2b/b-7/index.pug
	include ../components/b2b/b-8/index.pug
	include ../components/b2b/b-9/index.pug