extends _layout.pug

block var
	- var title = 'Trang chu'
	- var bodyClass = 'homepage'

block main
	include ../components/banner/pagebanner.pug
	include ../components/_global/breabcrumb/breadcrumb.pug
	include ../components/gioi-thieu/a-1/a-1.pug
	include ../components/gioi-thieu/a-2/a-2.pug
	include ../components/gioi-thieu/a-3/a-3.pug
	include ../components/gioi-thieu/a-4/a-4.pug
	include ../components/gioi-thieu/a-5/a-5.pug
