extends _layout.pug

block var
	- var title = 'Support'
	- var bodyClass = 'page-support'

block main
	//- include ../components/_global/breabcrumb/breadcrumb.pug
	include ../components/ho-tro-kh/index.pug