extends _layout.pug

block var
	- var title = 'Chi Tiết Khuyến Mãi'
	- var bodyClass = 'discount-detail-page'

block main
	include ../components/banner/pagebanner.pug
	include ../components/_global/breabcrumb/breadcrumb.pug
	include ../components/khuyen-mai/ct/index.pug
