extends _layout.pug

block var
	- var title = 'Khuyến Mãi'
	- var bodyClass = 'discount-page'

block main
	//- include ../components/_global/breabcrumb/breadcrumb.pug
	include ../components/khuyen-mai/ds/index.pug