extends _layout.pug

block var
	- var title = 'Liên Hệ'
	- var bodyClass = 'contact-page'

block main
	section.section.page-contact(setbackground="./img/bg-contact-2.png")
		include ../components/_global/breabcrumb/breadcrumb.pug
		include ../components/lien-he/index.pug
