extends _layout.pug

block var
	- var title = 'Liên Hệ'
	- var bodyClass = 'contact-page'

block main
	//- include ../components/_global/breabcrumb/breadcrumb.pug
	include ../components/lien-he/index.pug