extends _layout.pug

block var
	- var title = 'Nhãn hàng'
	- var bodyClass = 'brands-page'

block main
	include ../components/banner/pagebanner.pug
	include ../components/_global/breabcrumb/breadcrumb.pug
	include ../components/nhan-hang/index.pug
