extends _layout.pug

block var
	- var title = 'Tin Tức'
	- var bodyClass = 'news-list'

block main
	//- include ../components/_global/breabcrumb/breadcrumb.pug
	include ../components/tin-tuc/ds/index.pug