extends _layout.pug

block var
	- var title = 'Chi Tiết Tin'
	- var bodyClass = 'news-detail'

block main
	include ../components/banner/pagebanner.pug
	include ../components/_global/breabcrumb/breadcrumb.pug
	include ../components/tin-tuc/ct/index.pug
