section.section.support-page 
	.container
		.row.no-gutters
			.col-md-6.col-sm-12 
				.wrap-left 
					.img 
						img.lazyload(data-src="./img/news/6.png", alt="")
					.content.f-36.color-white Chăm sóc khách hàng
			.col-md-6.col-sm-12 
				.wrap-right
					ul
						li
							.title Chính sách đổi hàng
							.content
								h3 1. Mục đích
								p
									| Sakos.VN tôn trọng sự riêng tư, muốn bảo vệ thông tin cá nhân và thông tin
									| thanh toán của bạn. “Chính sách bảo mật” dưới đây là những cam kết mà chúng
									| tôi thực hiện, nhằm tôn trọng và bảo vệ quyền lợi của người truy cập.
								h3 2. Quy định cụ thể
								h4 2.1/ Thu thập thông tin
								p
									| – Khi khách hàng thực hiện giao dịch/ đăng ký mở tài khoản tại sakos.vn khách
									| hàng phải cung cấp một số thông tin cần thiết.
									br
									| – Khách hàng có trách nhiệm bảo đảm thông tin đúng và luôn cập nhật đầy đủ
									| 	và chính xác nhất.
								h4 2.2/ Lưu trữ và bảo mật thông tin riêng
								p
									| – Thông tin khách hàng, cũng như các trao đổi giữa khách hàng và sakos, đều
									| được lưu trữ và bảo mật bởi hệ thống của sakos.
								p
									| – Sakos có các biện pháp thích hợp về kỹ thuật và an ninh để ngăn chặn việc
									| truy cập , sử dụng trái phép thông tin khách hàng.
								h4 2.3/ Sử dụng thông tin khách hàng
								p * Sakos có quyền sử dụng thông tin khách hàng cung cấp để:
								p – Giao hàng theo địa chỉ mà quý khách cung cấp.
								p
									| – Cung cấp thông tin liên quan đến sản phẩm, lợi ích, ưu đãi hay các thư từ khác.
								p
									| – Xử lý đơn đặt hàng và cung cấp dịch vụ, thông tin qua trang web Sakos.vn theo yêu cầu của quý khách.
								p
									| – Sử dụng thông tin đã thu thập được từ các cookies nhằm cải thiện trải nghiệm người dùng và chất lượng các dịch vụ của Sakos.vn.
						li
							.title Chính sách đổi hàng
							.content
								h3 1. Mục đích
								p
									| Sakos.VN tôn trọng sự riêng tư, muốn bảo vệ thông tin cá nhân và thông tin
									| thanh toán của bạn. “Chính sách bảo mật” dưới đây là những cam kết mà chúng
									| tôi thực hiện, nhằm tôn trọng và bảo vệ quyền lợi của người truy cập.
								h3 2. Quy định cụ thể
								h4 2.1/ Thu thập thông tin
								p
									| – Khi khách hàng thực hiện giao dịch/ đăng ký mở tài khoản tại sakos.vn khách
									| hàng phải cung cấp một số thông tin cần thiết.
									br
									| – Khách hàng có trách nhiệm bảo đảm thông tin đúng và luôn cập nhật đầy đủ
									| 	và chính xác nhất.
								h4 2.2/ Lưu trữ và bảo mật thông tin riêng
								p
									| – Thông tin khách hàng, cũng như các trao đổi giữa khách hàng và sakos, đều
									| được lưu trữ và bảo mật bởi hệ thống của sakos.
								p
									| – Sakos có các biện pháp thích hợp về kỹ thuật và an ninh để ngăn chặn việc
									| truy cập , sử dụng trái phép thông tin khách hàng.
								h4 2.3/ Sử dụng thông tin khách hàng
								p * Sakos có quyền sử dụng thông tin khách hàng cung cấp để:
								p – Giao hàng theo địa chỉ mà quý khách cung cấp.
								p
									| – Cung cấp thông tin liên quan đến sản phẩm, lợi ích, ưu đãi hay các thư từ khác.
								p
									| – Xử lý đơn đặt hàng và cung cấp dịch vụ, thông tin qua trang web Sakos.vn theo yêu cầu của quý khách.
								p
									| – Sử dụng thông tin đã thu thập được từ các cookies nhằm cải thiện trải nghiệm người dùng và chất lượng các dịch vụ của Sakos.vn.
						li
							.title Chính sách đổi hàng
							.content
								h3 1. Mục đích
								p
									| Sakos.VN tôn trọng sự riêng tư, muốn bảo vệ thông tin cá nhân và thông tin
									| thanh toán của bạn. “Chính sách bảo mật” dưới đây là những cam kết mà chúng
									| tôi thực hiện, nhằm tôn trọng và bảo vệ quyền lợi của người truy cập.
								h3 2. Quy định cụ thể
								h4 2.1/ Thu thập thông tin
								p
									| – Khi khách hàng thực hiện giao dịch/ đăng ký mở tài khoản tại sakos.vn khách
									| hàng phải cung cấp một số thông tin cần thiết.
									br
									| – Khách hàng có trách nhiệm bảo đảm thông tin đúng và luôn cập nhật đầy đủ
									| 	và chính xác nhất.
								h4 2.2/ Lưu trữ và bảo mật thông tin riêng
								p
									| – Thông tin khách hàng, cũng như các trao đổi giữa khách hàng và sakos, đều
									| được lưu trữ và bảo mật bởi hệ thống của sakos.
								p
									| – Sakos có các biện pháp thích hợp về kỹ thuật và an ninh để ngăn chặn việc
									| truy cập , sử dụng trái phép thông tin khách hàng.
								h4 2.3/ Sử dụng thông tin khách hàng
								p * Sakos có quyền sử dụng thông tin khách hàng cung cấp để:
								p – Giao hàng theo địa chỉ mà quý khách cung cấp.
								p
									| – Cung cấp thông tin liên quan đến sản phẩm, lợi ích, ưu đãi hay các thư từ khác.
								p
									| – Xử lý đơn đặt hàng và cung cấp dịch vụ, thông tin qua trang web Sakos.vn theo yêu cầu của quý khách.
								p
									| – Sử dụng thông tin đã thu thập được từ các cookies nhằm cải thiện trải nghiệm người dùng và chất lượng các dịch vụ của Sakos.vn.
						li
							.title Chính sách đổi hàng
							.content
								h3 1. Mục đích
								p
									| Sakos.VN tôn trọng sự riêng tư, muốn bảo vệ thông tin cá nhân và thông tin
									| thanh toán của bạn. “Chính sách bảo mật” dưới đây là những cam kết mà chúng
									| tôi thực hiện, nhằm tôn trọng và bảo vệ quyền lợi của người truy cập.
								h3 2. Quy định cụ thể
								h4 2.1/ Thu thập thông tin
								p
									| – Khi khách hàng thực hiện giao dịch/ đăng ký mở tài khoản tại sakos.vn khách
									| hàng phải cung cấp một số thông tin cần thiết.
									br
									| – Khách hàng có trách nhiệm bảo đảm thông tin đúng và luôn cập nhật đầy đủ
									| 	và chính xác nhất.
								h4 2.2/ Lưu trữ và bảo mật thông tin riêng
								p
									| – Thông tin khách hàng, cũng như các trao đổi giữa khách hàng và sakos, đều
									| được lưu trữ và bảo mật bởi hệ thống của sakos.
								p
									| – Sakos có các biện pháp thích hợp về kỹ thuật và an ninh để ngăn chặn việc
									| truy cập , sử dụng trái phép thông tin khách hàng.
								h4 2.3/ Sử dụng thông tin khách hàng
								p * Sakos có quyền sử dụng thông tin khách hàng cung cấp để:
								p – Giao hàng theo địa chỉ mà quý khách cung cấp.
								p
									| – Cung cấp thông tin liên quan đến sản phẩm, lợi ích, ưu đãi hay các thư từ khác.
								p
									| – Xử lý đơn đặt hàng và cung cấp dịch vụ, thông tin qua trang web Sakos.vn theo yêu cầu của quý khách.
								p
									| – Sử dụng thông tin đã thu thập được từ các cookies nhằm cải thiện trải nghiệm người dùng và chất lượng các dịch vụ của Sakos.vn.
						li
							.title Chính sách đổi hàng
							.content
								h3 1. Mục đích
								p
									| Sakos.VN tôn trọng sự riêng tư, muốn bảo vệ thông tin cá nhân và thông tin
									| thanh toán của bạn. “Chính sách bảo mật” dưới đây là những cam kết mà chúng
									| tôi thực hiện, nhằm tôn trọng và bảo vệ quyền lợi của người truy cập.
								h3 2. Quy định cụ thể
								h4 2.1/ Thu thập thông tin
								p
									| – Khi khách hàng thực hiện giao dịch/ đăng ký mở tài khoản tại sakos.vn khách
									| hàng phải cung cấp một số thông tin cần thiết.
									br
									| – Khách hàng có trách nhiệm bảo đảm thông tin đúng và luôn cập nhật đầy đủ
									| 	và chính xác nhất.
								h4 2.2/ Lưu trữ và bảo mật thông tin riêng
								p
									| – Thông tin khách hàng, cũng như các trao đổi giữa khách hàng và sakos, đều
									| được lưu trữ và bảo mật bởi hệ thống của sakos.
								p
									| – Sakos có các biện pháp thích hợp về kỹ thuật và an ninh để ngăn chặn việc
									| truy cập , sử dụng trái phép thông tin khách hàng.
								h4 2.3/ Sử dụng thông tin khách hàng
								p * Sakos có quyền sử dụng thông tin khách hàng cung cấp để:
								p – Giao hàng theo địa chỉ mà quý khách cung cấp.
								p
									| – Cung cấp thông tin liên quan đến sản phẩm, lợi ích, ưu đãi hay các thư từ khác.
								p
									| – Xử lý đơn đặt hàng và cung cấp dịch vụ, thông tin qua trang web Sakos.vn theo yêu cầu của quý khách.
								p
									| – Sử dụng thông tin đã thu thập được từ các cookies nhằm cải thiện trải nghiệm người dùng và chất lượng các dịch vụ của Sakos.vn.
						li
							.title Lời nhắn  đến Sakos
							.content
								.wrap-form
									.form-row
										.form-group
											input(type="text" placeholder="Tên")
										.form-group
											input(type="text" placeholder="Email")
									.form-row
										.form-group
											input(type="text" placeholder="Điện thoại")
										.form-group
											input(type="text" placeholder="Tiêu đề")
									.form-group
										textarea(name="" cols="30" rows="10" placeholder="Nội dung")
									.form-group.frm-btnwrap
										.frm-btn
											input(type="submit" value="Gửi ")
