section.section.support-page 
	.container
		.row.no-gutters
			.col-md-6.col-sm-12 
				.wrap-left 
					.img 
						img.lazyload(data-src="./img/news/6.png", alt="")
					.content.f-36.color-white Chăm sóc khách hàng
			.col-md-6.col-sm-12 
				.wrap-right
					ul
						-for(i=0; i<6; i++)
							li
								.title Chính sách đổi hàng
								.content
									p 1. Mục đích
									p Sakos.VN tôn trọng sự riêng tư, muốn bảo vệ thông tin cá nhân và thông tin thanh toán của bạn. “Chính sách bảo mật” dưới đây là những cam kết mà chúng tôi thực hiện, nhằm tôn trọng và bảo vệ quyền lợi của người truy cập.
									p 2. Quy định cụ thể
									p 2.1/ Thu thập thông tin
									p – Khi khách hàng thực hiện giao dịch/ đăng ký mở tài khoản tại sakos.vn khách hàng phải cung cấp một số thông tin cần thiết.
									p – Khách hàng có trách nhiệm bảo đảm thông tin đúng và luôn cập nhật đầy đủ và chính xác nhất.
									p 2.2/ Lưu trữ và bảo mật thông tin riêng
									p – Thông tin khách hàng, cũng như các trao đổi giữa khách hàng và sakos, đều được lưu trữ và bảo mật bởi hệ thống của sakos.