.view-all
	.container 
		.btn.btn-view-all 
			span Thông tin sản phẩm
			.material-icons keyboard_arrow_down
section.section.b2b-1
	.container
		.section-title.text-center Quà tặng doanh nghiệp - Nâng tầm thương hiệu
		.desc.text-center Với gần 30 năm kinh nghiệm trong lĩnh vực cung cấp các sản phẩm hành lý: vali, balo, cặp, túi du lịch… trên cơ sở áp dụng công nghệ hiện đại được chuyển giao trực tiếp từ Tập đoàn Sakostyle (Hoa Kỳ), Công ty Cổ phẩn Sakos cam kết đem đến cho quý khách hàng những sản phẩm chất lượng với thiết kế hiện đại, mẫu mã phong phú. Sakos không chỉ làm hài lòng quý khách hàng trong nước mà còn chinh phục được các thị trường khó tính như: Đức, Thụy Sỹ, Úc, Nhật, Tây Ban Nha… Đặc biệt, thương hiệu của chúng tôi được bảo hộ độc quyền tại Thụy Sỹ.
		.wrap-img 
			img.lazyload(data-src="./img/b2b/1.jpg", alt="")