section.section.b2b-7 
	.container
		.section-title.text-center Dấu ấn kết nối
		.swiper-b2b-7.button-gray
			.swiper-container 
				.swiper-wrapper
					-for(i=1; i<10; i++)
						.swiper-slide 
							.wrap-img.zoom-img
								.img
									img.lazyload(data-src="./img/home/exper-"+i+".png" alt="")
			.wrap-button
				.swiper-button-next
				.swiper-button-prev