section.section.home-feature
	.container 
		.section-title Tính năng
		.wrapper-grid
			.item.zoom-img 
				.img 
					a(href="") 
						img.lazyload(data-src="./img/home/feature-1.png" alt="")
				.content 
					a(href="") Thể thao
			.item.zoom-img 
				.img 
					a(href="") 
						img.lazyload(data-src="./img/home/feature-3.png" alt="")
				.content 
					a(href="") Đi học
			.item.zoom-img 
				.img 
					a(href="") 
						img.lazyload(data-src="./img/home/feature-5.png" alt="")
				.content 
					a(href="") Doanh nhân
			.item.zoom-img 
				.img 
					a(href="") 
						img.lazyload(data-src="./img/home/feature-2.png" alt="")
				.content 
					a(href="") Du lịch
			.item.zoom-img 
				.img 
					a(href="") 
						img.lazyload(data-src="./img/home/feature-4.png" alt="")
				.content 
					a(href="") Văn phòng
