footer 
	.container 
		.row 
			.col-lg-4 
				.card 
					.card__header
						.logo
							img(src="./img/logo-white.png" alt="")
					.card__body 
						.title công ty cổ phần sakos
						ul 
							li
								p MST: 0304048003
							li 
								span.lnr.lnr-home
								p 11A Phạm Ngọc Thạch, 
									br
									|Phường 6, Quận 3, Tp. HCM
							li 
								span.lnr.lnr-phone-handset
								p (028) 3825 8188
							li 
								span.lnr.lnr-envelope
								p sales_online@sakosvn.com
					.card__footer
						ul.socail.d-flex 
							li 
								a(href="") 
									img(src="./img/icons/face.png" alt="")
							li 
								a(href="") 
									img(src="./img/icons/zalo.png" alt="")
							li 
								a(href="") 
									img(src="./img/icons/youtube.png" alt="")
							li 
								a(href="") 
									img(src="./img/icons/intagram.png" alt="")
						.bct-logo 
							img(src="./img/icons/BCT.png" alt="")
			.col-lg-4 
				.card 
					.card__header
						.title.f-18.fw-700.color-white.text-uppercase Chăm sóc khách hàng
					.card__body 
						ul 
							li
								a(href="")  Chính sách bảo mật
							li
								a(href="")  Chính sách giao nhận
							li
								a(href="")  Chính sách đổi trả
							li
								a(href="")  Chính sách bảo hành
							li
								a(href="")  Hướng dẫn mua hàng
							li
								a(href="")  Quyền lợi thẻ thành viên

					.card__footer
						.title.f-18.fw-700.color-white.text-uppercase phương thức thanh toán
						ul.d-flex 
							li 
								img(src="./img/icons/pay.png" alt="")
							li 
								img(src="./img/icons/cash.png" alt="")
			.col-lg-4 
				.card 
					.card__header
						.title.f-18.fw-700.color-white.text-uppercase b2b
					.card__body 
						ul 
							li
								a(href="") 
									span.lnr.lnr-book
									p E-Catalogue
							li
								a(href="")
									span.lnr.lnr-phone-handset
									p 0917.453.769
							li
								a(href="")
									span.lnr.lnr-phone-handset
									p 0941.720.505
							li
								a(href="")
									span.lnr.lnr-phone-handset
									p 0941.594.499
							li
								a(href="")
									span.lnr.lnr-envelope
									p b2b@sakosvn.com
					.card__footer 
						.title.f-18.fw-700.color-white.text-uppercase đăng ký nhận bản tin
						.subscribe
							.subscribefrm
								input.subscribeemail(type="text" placeholder="Nhập địa chỉ email..." name="email")
								button.subscribebutton 
	.coppy-right
		.container
			.wraper-content.d-flex.align-center
				p.design-by-canhcam.color-white.f-14
					|© 2020 Sakos.
					a(href='https://www.canhcam.vn/thiet-ke-website-chuyen-nghiep' target='_blank') Thiết kế website
					| bởi
					a(href='https://www.canhcam.vn' target='_blank')  Canh Cam
				ul.d-flex
					li 
						a(href="") Điều khoản và điều kiện
					li
						a(href="") Chính sách bảo mật
					li
						a(href="") Sơ đồ trang web
				.back-to-top.d-flex.align-center.color-white.ml-auto.f-14 Đầu trang
					span.lnr.lnr-chevron-up
