footer
	padding-top: 64px
	background: #202020
	.card
		&__header,
		&__footer
			.title
				letter-spacing: 1.4px
				margin-bottom: 25px
		&__body
			.title
				font-size: 18/16*1rem
				color: $white
				text-transform: uppercase
				letter-spacing: 1.6px
				padding-bottom: 10px
		&__header
			.logo
				margin-bottom: 31px
		&__body
			ul
				li
					padding-bottom: 12px
					display: flex
					p
						color: $white
						letter-spacing: 1.5px
					span
						&.lnr
							color: $white
							padding-right: 10px
							letter-spacing: 1.3px
							font-size: 14/16*1rem
							line-height: 20px
					a
						display: flex
						color: $white
						padding-right: 10px
						letter-spacing: 1px
						font-size: 14/16*1rem
						line-height: 20px
		&__footer
			margin-top: 12px
			.socail
				align-items: center
				margin-bottom: 20px
				li
					display: flex
					align-items: center
					justify-content: center
					+ li
						margin-left: 20px
			.subscribe
				.subscribefrm
					width: 100%
					height: 50%
					position: relative
					border: solid 1px $gray

					input
						width: 100%
						height: 50px
						border: none
						background: none
						color: $white
						padding-left: 15px
						&::placeholder
							color: $white
					button
						position: absolute
						top: 50%
						right: 0
						width: 140px
						height: 100%
						border: none
						background: $main
						color: $white
						font-size: 1rem
						text-transform: uppercase
						font-weight: 700
						transform: translateY(-50%)
						letter-spacing: 1px
						&::before
							content: 'đăng ký'
						&::after
							padding-left: 8px
							content: url('../img/icons/right-1.png')

	.col-lg-4
		&:first-child
			.card
				&__body
					ul
						li
							padding-bottom: 17px
							&:nth-child(2)
								padding-bottom: 28px
							&:nth-child(3)
								padding-bottom: 14px
				&__footer
					margin-top: 0

		&:last-child
			.card
				&__footer
					margin-top: 45px
					.title
						margin-bottom: 20px
		&:nth-child(2)
			.card
				&__footer
					.title
						margin-bottom: 20px
					ul
						li + li
							margin-left: 10px
	.coppy-right
		margin-top: 50px
		border-top: solid 1px #444444
		.wraper-content
			padding: 18px 0
			.design-by-canhcam
				letter-spacing: 1.3px
				a
					font-size: 14/16*1rem
			ul
				margin-left: 105px
				li
					a
						color: $white
						font-size: 14/16*1rem
					+ li
						margin-left: 41px
			.back-to-top
				cursor: pointer
				letter-spacing: 1.5px
				.lnr
					font-size: 1rem
					padding-left: 20px
