section.section.network 
	.container 
		.hero-top
			.section-title.text-center Hệ thống cửa hàng
			.catelogry
				ul
					li.active
						a(href="") Sakos shop
					li 
						a(href="") Sakos shop plus
					li 
						a(href="") Đại lý độc quyền
					li 
						a(href="") Đại lý phân phối
		.hero-network.d-flex
			.wrap-left
				.wrap-select
					.select-item
						select(name="")
							option(value="1") Chọn tỉnh/thành phố
							option(value="2") Item
							option(value="3") Item
					.select-item
						select(name="")
							option(value="1") Chọn quận/huyện
							option(value="2") Item
							option(value="3") Item
					.button
						a(href="").btn.btn-search-2 Tìm kiếm
				.wrap-contact
					ul 
						li(data-href="") 
							.block-title Sakos Quang trung - tp.hcm 
							.wrap-content
								em.lnr.lnr-map-marker
								span 1005 Quang Trung, Phường 14, Quận Gò Vấp, 
							.wrap-content
								em.lnr.lnr-phone-handset
								span 028 38762222
						li(data-href="") 
							.block-title Sakos hai bà trưng - tp.hcm
							.wrap-content
								em.lnr.lnr-map-marker
								span 418 Hai Bà Trưng, Phường Tân Định, Quận 1, 
							.wrap-content
								em.lnr.lnr-phone-handset
								span 028 3854 4444
						li(data-href="") 
							.block-title sakos sư vạn hạnh - tp.hcm
							.wrap-content
								em.lnr.lnr-map-marker
								span 343/24-26 Sư Vạn Hạnh, phường 12, quận 10
							.wrap-content
								em.lnr.lnr-phone-handset
								span 028 3830 5131
						li(data-href="") 
							.block-title sakos nguyễn văn luông - tp.hcm
							.wrap-content
								em.lnr.lnr-map-marker
								span 485 Nguyễn Văn Luông, Phường 12, Quận 6.
							.wrap-content
								em.lnr.lnr-phone-handset
								span 028 3830 5131
			.wrap-right
				.wrap-map
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.7565793013223!2d106.63222611526021!3d10.753234362560692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752e8137c4e8d5%3A0x352707bc5c242c0e!2zNDg1IMSQLCBOZ3V54buFbiBWxINuIEx1w7RuZywgUGjGsOG7nW5nIDEyLCBRdeG6rW4gNiwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1617079993076!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
