<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Top menu" value="1" resourcefile="" />
	  <add name="Footer menu 1" value="2" resourcefile="" />
	  <add name="Footer menu 2" value="4" resourcefile="" />
	  <add name="Site feature" value="8" resourcefile="" />
	  <add name="Product category" value="16" resourcefile="" />
	  <add name="Danh mục sản phẩm trang chủ" value="32" resourcefile="" />
	  <add name="Danh mục sản phẩm mobile" value="64" resourcefile="" />
    </position>

</settings>