section.section.b2b-8 
	.container
		.section-title.text-center Đối tác của SAKOS
		.swiper-b2b-8.button-gray
			.swiper-container
				.swiper-wrapper
					-for(i=1; i<7; i++)
						.swiper-slide
							.swiper-inner
								.img
									img.lazyload(data-src="./img/home/part-"+i+".png" alt="")
			.wrap-button
				.swiper-button-next
				.swiper-button-prev