section.section.b2b-6 
	.container 
		.section-title.text-center Sản phẩm đã hợp tác
		.desc.text-center Sakos tư vấn quà tặng phù hợp với việc lên ý tưởng thiết kế hoàn toàn miễn phí. #[br] Đối với những đơn hàng số lượng lớn, quý khách còn nhận được chiết khấu cao cùng nhiều ưu đãi hấp dẫn.
		.swiper-b2b-6.button-gray
			.swiper-container 
				.swiper-wrapper
					-for(i=0; i<6; i++)
						.swiper-slide
							.item
								.img 
									img.lazyload(data-src="./img/b2b/3.jpg", alt="")
			.wrap-button
				.swiper-button-next
				.swiper-button-prev
