<?xml version="1.0" encoding="utf-8"?>
<appSettings>

	<add key="MSSQLConnectionString" value="server=CC-WEB803\SQL2014;UID=sakos_user;PWD=LdU#j!CA$Ziv;database=sakos_db" />

	<!-- if running in medium trust uncomment this
	<add key="RunningInMediumTrust" value="true" />
	-->
	<!--
  <add key="SSLIsAvailable" value="true" />
  <add key="ForceSslOnAllPages" value="true" />
-->
	<add key="UseLegacyCryptoHelper" value="false" />
	<add key="CheckMD5PasswordHashAsFallback" value="false" />
	<add key="ShowRebuildSearchIndexButtonToAdmins" value="true" />

	<add key="UseAppKeepAlive" value="false" />
	<add key="AppKeepAliveUrl" value="" />
	<add key="CombineCSS" value="false" />
	<add key="RedirectNonWWWToWWW" value="false" />
	<add key="DisableBannedIpBlockingModule" value="false" />

	<add key="EnableContentWorkflow" value="false" />

	<!--JQuery Setup-->
	<add key="UseGoogleCDN" value="true" />

	<add key="ForceSingleSessionPerUser" value="false" />
	<add key="AllowedUploadFileExtensions" value=".gif|.jpg|.jpeg|.png|.flv|.swf|.wmv|.mp3|.mp4|.m4a|.m4v|.oga|.ogv|.webma|.webmv|.webm|.wav|.fla|.tif|.asf|.asx|.avi|.mov|.mpeg|.mpg|.zip|.pdf|.doc|.docx|.xls|.xlsx|.ppt|.pptx|.pps|.csv|.txt|.htm|.html" />
	<add key="AudioFileExtensions" value=".wma|.mp3|.m4a|.m4a|.oga|.webma|.webm|.wav|.asf|.asx|.fla" />
	<add key="VideoFileExtensions" value=".flv|.swf|.wmv|.mp4|.m4v|.ogv|.webmv|.webm|.avi|.mov|.mpeg|.mpg" />
	<add key="DocumentFileExtensions" value=".doc|.txt|.docx|.xls|.xlsx|.pdf" />
	<add key="ImageFileExtensions" value=".gif|.jpg|.jpeg|.png" />

	<add key="SetMasterInLoginPage" value="true" />
	<add key="SetMasterInChangePasswordPage" value="false" />
	<add key="SetMasterInPasswordResetPage" value="true" />
	<add key="SetMasterInProfilePage" value="false" />
	<add key="SetMasterInRecoverPasswordPage" value="true" />
	<add key="SetMasterInPageNotFoundPage" value="true" />

	<add key="UseTokensForRecoveryPassword" value="true" />
	<!--<add key="TooManyPagesForGridEvents" value="0" />-->
	<add key="AllowMultipleSites" value="false" />
	<!--<add key="UseRelatedSiteMode" value="true" />
  <add key="UseFoldersInsteadOfHostnamesForMultipleSites" value="true" />
  <add key="EnableImageCDN" value="true" />
  <add key="ImageCDNBaseUrl" value="https://amp.techzones.vn" />-->
	<add key="AllowFileExtensionRename" value="true" />

	<add key="TooManyPagesForDropdownList" value="500" />
	<add key="ShowPublishModeSettings" value="true" />

	<add key="EnableHierarchicalFriendlyUrls" value="true" />
	<add key="Product:RecentlyViewedProductsEnabled" value="true" />
	<add key="Product:RecentlyViewedProductCount" value="10" />

	<!-- Start Store -->
	<add key="Store:Enabled" value="true" />
	<add key="Store:EnabledInventory" value="true" />
	<add key="Store:EnabledAutoSelectStoreDefaultWhenNotValidInventory" value="true" />
	<!-- End Store -->

	<!-- Start Product -->
	<add key="Product:DetailPageMessages" value="ProductDetailGlobalMessage;ProductDetailHotLineMessage" />
	<add key="Product:EnableProductSoldOutLetter" value="true"/>
	<add key="Product:EnableProductZone" value="true"/>
	<add key="Product:EnableWishlist" value="true"/>
	<!-- End Product -->


	<add key="EnableRewardPoints" value="true" />
	<add key="GoogleMapsAPIKey" value="AIzaSyBQl3LL87z4AHHbqWQ2hHYzKSfsZHnTzt0"/>
	<add key="Product:AutoUpdateCommentStats" value="true" />
	<add key="AutomaticallyAddCanonicalUrlToCmsPages" value="true" />

	<!--Start VNPay-->
	<add key="VNPAY.CompletedZoneId" value="169"/>
	<add key="VNPAY.PaymentID" value="4"/>
	<add key="VNPAY.SecureHashType" value="sha256"/>
	<add key="VNPAY.HashSecret" value="DAE29ZKVOZ0NB5BTI1901VXZNN46SQQZ"/>
	<add key="VNPAY.TmnCode" value="TSAKUKO1"/>
	<add key="VNPAY.PayUrl" value="http://sandbox.vnpayment.vn/paymentv2/vpcpay.html"/>
	<add key="VNPAY.ReturnUrl" value="/Product/VNPay/Callback.aspx"/>
	<!--End VNPay-->

	<!--Start MoMo-->
	<add key="MOMO.CompletedZoneId" value="169"/>
	<add key="MOMO.FailedZoneId" value="169"/>
	<add key="MOMO.PaymentMethodId" value="5"/>
	<add key="MOMO.PartnerCode" value="MOMOI6SE20201026"/>
	<add key="MOMO.AccessKey" value="hr0P2IocMVV4xgql"/>
	<add key="MOMO.SecretKey" value="r4gzmM3HvmOhxPNjguccnP0t0Cfu1pAF"/>
	<add key="MOMO.EndPoint" value="https://test-payment.momo.vn/gw_payment/transactionProcessor"/>
	<add key="MOMO.EndPointRefun" value="https://payment.momo.vn/pay/refund"/>
	<add key="MOMO.NotifyUrl" value="http://sakos.canhcam.asia/Product/MoMo/MoMoIPN.aspx"/>
	<add key="MOMO.ReturnUrl" value="http://sakos.canhcam.asia/Product/MoMo/MoMoRedirect.aspx"/>
	<!--End MoMo-->

	<!--Start Viettel Post-->
	<add key="ViettelPost_urlService" value="https://partner.viettelpost.vn/v2" />
	<add key="ViettelPost_apiKey" value="eyJhbGciOiJFUzI1NiJ9.eyJVc2VySWQiOjg2NDE0MjQsIkZyb21Tb3VyY2UiOjUsIlRva2VuIjoiTTFTNzY5RE9CNDdFNzBUUCIsImV4cCI6MTY5ODY2NDYzMywiUGFydG5lciI6ODY0MTQyNH0.Og3aUrQjwWmsg1ihFppVV7zY6M4HvcqxtELcGcY9kIUNYmUqW3BSQu7_EhQk_7xywB8vIwHSPLMBP3A9gfKjpA" />
	<add key="ViettelPost_SenderWARD" value="11067"/>
	<add key="ViettelPost_SenderDistrict" value="658" />
	<add key="ViettelPost_SenderProvince" value="58" />
	<add key="Sender:FullName" value="EC Lê Trọng Tấn" />
	<add key="Sender:Address" value="La Khê, Hà Đông, Hà Nội, Việt Nam" />
	<add key="Sender:Phone" value="18000010" />
	<add key="Sender:Email" value="cskh@sakukovietnam.com.vn" />
	<add key="ViettelPost_ShippingMethodId" value="9" />
	<add key="VittelPost_CUS_ID" value="8641424" />

	<!--End Viettel Post-->



	<!--Start RewardPoints-->
	<add key="RewardPoints:Enable" value="true"/>
	<add key="RewardPoints:ExchangeRate" value="1000"/>
	<add key="RewardPoints:MinimumRewardPointsToUse" value="0"/>
	<add key="RewardPoints:PointsForPurchasesAmount" value="1000"/>
	<add key="RewardPoints:PointsForPurchasesPoints" value="0.01"/>
	<add key="RewardPoints:PointsForPurchases_Awarded" value="99"/>
	<add key="RewardPoints:ReduceRewardPointsAfterCancelOrder" value="true"/>
	<!--End RewardPoints-->

	<!-- ERP -->
	<add key="ERP:Enable" value="true"/>
	<add key="ERP:SakukoEnable" value="true"/>
	<add key="ERP:EnableValidVoucherInERP" value="true"/>
	<add key="ERP:RewardPointEnable" value="true"/>
	<add key="ERP:AutoSyncWhenOrderCompleted" value="true"/>
	<!-- End ERP-->

	<!-- Voucher -->
	<add key="Shopping:VoucherEnable" value="true"/>
	<!-- End Voucher-->

	<add key="Promotion:DisableDiscountTypes" value=""/>
	<add key="Product:CartPageId" value="165"/>
	<add key="Order:CheckoutPaymentNotSuccessdTemplate" value="true"/>
	<add key="Store:ShippngFeeForStore" value="true"/>
	<add key="TooManyPagesForDropdownList" value="10000"/>
	<add key="DisableExportProductNonCode" value="false"/>
	<!-- Order -->
	<add key="Order:StaffEnable" value="true"/>
	<add key="Order:StaffProcessEnable" value="true"/>
	<!-- End Order -->
	<add key="FormWizard:EnableRegexValidation" value="true" />
</appSettings>  
