header 
	.nav-top 
		.container 
			.wrapper-container.d-flex.align-center  
				.wrapper-left.d-flex.align-center 
					ul.hotline.d-flex.align-center  
						li
							img(src="./img/icons/phone.png" alt="")
						li 
							a(href="") 0941 349 955
							a(href="") 1600 599 962
					.shop-sytem 
						a(href="")
							img(src="./img/icons/shop.png" alt="")
							span Hệ thống cửa hàng
				.wrapper-middle
					.swiper-container
						.swiper-wrapper
							-for(i=1; i<4; i++)
								.swiper-slide
									.swiper-inner
										a(href="") Christmas Direct Discount 40%
					.swiper-button-prev
					.swiper-button-next
				.wrapper-right.d-flex.align-center
					.account-wrapper.d-flex.align-center
						a.account-icon(href='javascript:;')
							img(src="./img/icons/user.png" alt="")
						ul.wrap.d-flex.align-center
							li
								a.text(href='') Đăng nhập /  
							li
								a.text(href='')  Đăng ký
					.shopping-card-toggle.d-flex.align-center
						.icon
							img(src="./img/icons/shop2.png" alt="")
						span.quilt 05
						.shopping-cart-wrapper
							.head
								.cart-quantity
									span.material-icons shopping_cart
									.cart-number.total-cart-items
										span.item-quantity 0
								.cart-number
									p
										| Tổng cộng:
										span 0 ₫
							.body
								.scroll-wrapper.cartpanel
							.btn-center(style='display: none;')
								a.btn.btn-primary(href='')
									span Thanh toán 
									em.lnr.lnr-arrow-right
					.language-wrapper.d-flex.align-center 
						ul 
							li 
								a(href="") 
									img(src="./img/icons/vn.png" alt="")
							li
								a(href="") 
									img(src="./img/icons/en.png" alt="")
	.nav-bottom 
		.container 
			nav.navbar.d-flex 
				.nav-brand 
					a(href="") 
						img(src="./img/logo.png" alt="")
				ul.nav.d-flex
					li.nav-item
						.title
							a.nav-link.f-16.fw-700.text-uppercase(href="gioi-thieu.html") Giới thiệu
					li.nav-item.mega
						.title
							a.nav-link.f-16.fw-700.text-uppercase(href="san-pham.html") Sản phẩm
							.btn-sub 
								em.material-icons navigate_next
						.megasub.d-flex
							.turn-back 
								em.ri-arrow-go-back-line
							ul 
								li.mega-item 
									.title
										a.mega-link(href="") vali 
										.btnsub 
											em.material-icons navigate_next
									.megasub__dropdown
										ul
											li 
												a(href="") Balo văn phòng
												.product.d-flex
													-for(i=1; i<4; i++)
														.img
															a(href="") 
																img.lazyload(data-src="./img/home/mega-"+i+".png" alt="")
											li
												a(href="")  Balo du lịch
												//- .product.d-flex
												//- 	.img
												//- 		a(href="") 
												//- 			img.lazyload(data-src="./img/home/mega-1.png" alt="")
											li
												a(href="")  Balo laptop
											li
												a(href="")  Balo sinh viên
											li
												a(href="")  Balo thời trang
											
								li.mega-item 
									.title
										a.mega-link(href="") cặp 
										.btnsub 
											em.material-icons navigate_next
								li.mega-item 
									.title
										a.mega-link(href="") túi xách 
										.btnsub 
											em.material-icons navigate_next
								li.mega-item 
									.title
										a.mega-link(href="") balo 
										.btnsub 
											em.material-icons navigate_next
								li.mega-item 
									.title
										a.mega-link(href="") phụ kiện 
										.btnsub 
											em.material-icons navigate_next
					li.nav-item.mega
						.title
							a.nav-link.f-16.fw-700.text-uppercase(href="nhan-hang.html") Nhãn hàng
							.btn-sub 
								em.material-icons navigate_next
						.megasub.brand-list.d-flex
							.turn-back 
								em.ri-arrow-go-back-line
							.brand-item 
								.img 
									a(href="") 
										img.lazyload(data-src="./img/home/brand-1.png" alt="")
								.content 
									.title 
										a(href="") sakos
							.brand-item 
								.img 
									a(href="") 
										img.lazyload(data-src="./img/home/brand-2.png" alt="")
								.content 
									.title 
										a(href="") STARGO
					li.nav-item
						.title
							a.nav-link.f-16.fw-700.text-uppercase(href="khuyen-mai.html") Khuyến mãi
					li.nav-item
						.title
							a.nav-link.f-16.fw-700.text-uppercase(href="tin-tuc.html") Tin tức - sự kiện
					li.nav-item
						.title
							a.nav-link.f-16.fw-700.text-uppercase(href="b2b.html") B2B
				.wrapper-search
					.form-group
						input(type="text" placeholder="Tìm kiếm")
						button.btn.btn-search
							img(src="./img/icons/search.png" alt="")
					.search-icon
						img(src="./img/icons/search.png" alt="")
				.btn.btn-toggle
					span
					span
					span
					span
	.meganav-mobile
