header
	position: fixed
	width: 100%
	z-index: 1000
	.nav-top
		background: $main
		.wrapper-left
			.hotline
				li
					display: flex
					flex-direction: column
					a
						color: $white
						font-size: 14/16*1rem
					+ li
						margin-left: 13px
			.shop-sytem
				margin-left: 37px
				a
					color: $white
					font-size: 14/16*1rem
					span
						margin-left: 13px
		.wrapper-middle
			position: relative
			margin: 0 auto
			max-width: 450px
			.swiper-button-prev
				&::after
					content: url('../img/icons/left-arrow.png')
					font-size: 0
			.swiper-button-next
				&::after
					content: url('../img/icons/right-arrow.png')
					font-size: 0
			.swiper-button-prev,
			.swiper-button-next
				&:focus
					outline: none
			.swiper-inner
				display: flex
				align-items: center
				justify-content: center
				a
					font-size: 14/16*1rem
					color: $white
					line-height: 1rem
		.wrapper-right
			.account-wrapper
				position: relative
				padding-right: 13px
				.account-icon
					margin-right: 10px
				.wrap
					li
						.text
							color: $white
				&::after
					position: absolute
					top: 0
					right: 0
					content: ''
					width: 1px
					height: 100%
					background: rgba($color: $white, $alpha: .5)
			.shopping-card-toggle
				padding: 0 10px
				position: relative
				cursor: pointer
				.quilt
					width: 22px
					height: 22px
					margin-left: 5px
					border-radius: 50%
					background: #d00000
					line-height: 16px
					color: $white
					display: flex
					align-items: center
					justify-content: center
				&::after
					position: absolute
					top: 0
					right: 0
					content: ''
					width: 1px
					height: 100%
					background: rgba($color: $white, $alpha: .5)
			.language-wrapper
				padding-left: 10px
				position: relative
				ul
					display: flex
					align-items: center
					li
						width: 22px
						height: 22px
						border-radius: 50%
						border: solid 1px $white
						display: flex
						align-items: center
						justify-content: center
						a
							font-size: 0
						+ li
							margin-left: 8px
				&::after
					position: absolute
					top: 0
					left: 0
					content: ''
					width: 1px
					height: 100%
					background: rgba($color: $white, $alpha: .5)
	.nav-bottom
		padding-top: 15px
		padding-bottom: 10px
		background: $white
		align-items: center
		box-shadow: 0 0 11px rgba(33,33,33,.2)
		.navbar
			.nav-brand
				width: 125px
			.nav
				margin-left: 115px
				.nav-item
					position: relative
					display: flex
					align-items: center
					.nav-link
						padding: 1px 0
						letter-spacing: 0.05px
					@media screen and ( min-width: 1025px )
						&:hover
							.nav-link
								color: $main
					+ .nav-item
						margin-left: 46.5px
			.wrapper-search
				margin-left: 26px
				display: flex
				align-items: center
				.form-group
					position: relative
					width: 180px
					input
						width: 100%
						height: 30px
						border: none
						padding-left: 15px
						font-style: italic
						background: #cccccc
						&:placeholder
							color: $gray
							font-style: italic

					button
						position: absolute
						top: 50%
						right: 0
						transform: translateY(-50%)
						border: none
						background: transparent
