section.section.b2b-9 
	.container 
		.section-title.text-center Thông tin tư vấn
		.desc.text-center Để lại thông tin, chúng tôi sẽ tư vấn giải pháp quà tặng tốt nhất #[br] cho doanh nghiệp của bạn
		.row 
			.col-md-10.col-sm-12.mx-auto
				.my-form
					.wrap-form
						.wrap-left
							.form-group
								input(type='text',placeholder="Họ & tên")
							.form-group
								input(type='text',placeholder="Số điện thoại")
							.form-group
								input(type='text',placeholder="Email")
							.form-group
								input(type='text',placeholder="Tiêu đề")
							.form-group
								a(href="").btn.btn-catelog 
									em.material-icons file_download 
									span download catelogue 
						.wrap-right
							.form-group
								textarea(name="", rows="6", placeholder="Nội dung *")
							.frm-btnwrap
								.frm-btn
									input(type="submit",value="GỬI")