.b2b-9
	background-color: #f7f7f7
	.desc
		margin-bottom: r(30px)
	.my-form
		.wrap-form
			position: relative
			display: flex
			justify-content: space-between
			#ctl00_mainContent_ctl04_pnlQuestions
				width: 100%
				display: flex
				justify-content: space-between
				@media screen and ( max-width: 480px )
					display: block
			.btn-catelog
				+dc
				color: $white
				text-transform: uppercase
				font-size: 14px
				background-color: $gray
				border-radius: 5px
				padding: 12px 0
				position: relative
				overflow: hidden
				transition: .3s all ease-in-out
				em
					padding-right: 15px
				&:hover
					background-color: $main
			.wrap-right,
			.wrap-left
				flex: 0 0 calc(50%-10px)
			input[type='text'],
			textarea
				background-color: $white
			textarea
				height: 260px
			input[type="reset"]
				display: none
			#fomr-catelogue
				position: absolute
				left: 0
				top: 100%
				display: block
			.wrap-right
				.form-group
					&.qparagraph
						margin-bottom: 12px
				.wrap-buttom
					display: none
			.frm-captcha
				flex-direction: row-reverse
				position: absolute
				top: 85%
				right: 18%
				.frm-captcha-input
					width: 150px !important
					margin-left: 50px
					padding: 0
				.RadCaptcha
					width: 115px !important
					padding-left: 0
					div
						div
							img
								border: none
								border-radius: 0
					.rcRefreshImage
						&::before
							content: '\e861'
							font-family: Linearicons-Free
							color: #110dab
							font-size: r(30px)
			.frm-btnwrap
				margin-left: 20px
				position: absolute
				top: 85%
				right: 0
				.frm-btn
					border-radius: 5px
					background: $main
					color: $white
					width: 160px
					transition: .3s all ease-in-out
					margin-left: auto
					padding: 10px
					position: relative
					input
						font-size: r(14px)
						color: $white
						padding: 0
					&::before
						content: '\e87a'
						font-family: Linearicons-Free
						right: 0
						left: auto
						background: none
						font-size: r(20px)
						pointer-events: none
					&::after
						display: none
