section#pagebanner
	.banner-wrap 
		.img 
			img(src="./img/banner/b-2.png", alt="")
		.wrap-content 
			.container 
				.content
					h1.title.f-36.fw-700.color-white Cặp da cao cấp Phantom
					h2.sub-title.f-18.color-white Đẳng cấp Quý ông thượng lưu
					a.btn.btn-view-more(href="") xem sản phẩm
