section#about-3.section.about-3 
	.hero-wrap.d-flex 
		.item
			.img 
				img.lazyload(data-src="./img/about/a-2.png", alt="")
			a.btn.btn-catelog(href="") Sakos
		.item
			.img 
				img.lazyload(data-src="./img/about/a-3.png", alt="")
			a.btn.btn-catelog(href="") Stargo
